*.gcda
*.gcno
*.log
*.mem
*.o
*.obj
*.py[co]
*.trs
*.vpwhist
*.vpwhistu
*.vtg
.deps/
.dirstamp
Makefile
Makefile.in
__pycache__
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
doc/_build
doc/_doxygen
install-sh
ltmain.sh
m4/libtool.m4
m4/lt*.m4
misc/mdds-*.pc
missing
ref_pair_test
test-driver
