# SPDX-FileCopyrightText: 2025 Kohei Yoshida
#
# SPDX-License-Identifier: MIT

image: gcc

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

build:
  stage: build
  before_script:
    - uname -a
    - apt update
    - apt -y install gfortran-12
    - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-12 999
    - apt -y install make autoconf automake autotools-dev libtool pkg-config git python3-dev
    - apt -y install libboost-all-dev
    - apt -y install valgrind
    - ldconfig
  variables:
    CXXFLAGS: -Wunused-parameter
  script:
    - ./autogen.sh --enable-memory-tests
    - pushd tools/runtime-env
    - make runtime-env
    - popd
    - make -j $(nproc) check
