*.log
*.mem
*.trs
*.o
*.obj
*.py[co]
*.gcda
*.gcno
.deps/
.dirstamp
__pycache__
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
flat_segment_tree_test
install-sh
misc/mdds-*.pc
missing
multi_type_matrix_test
multi_type_matrix_test_walk
multi_type_vector_test_collection
multi_type_vector_test_event
multi_type_vector_test_side_iterator
multi_type_vector_test_custom
multi_type_vector_test_default
multi_type_vector_test_perf
point_quad_tree_test
rectangle_set_test
segment_tree_test
sorted_string_map_test
stlperf_test
template_test
test-driver
trie_map_test
rtree_test
rtree_test_bulkload
doc/_build
doc/_doxygen
example/flat-segment-tree
example/flat-segment-tree-itrs
example/mtv-collection
example/multi-type-matrix
example/multi-type-vector
example/multi-type-vector-element-block1
example/multi-type-vector-event1
example/multi-type-vector-pos-hint
example/packed-trie-map
example/packed-trie-state-int
example/point-quad-tree
example/rectangle-set
example/segment-tree
example/trie-map
example/rtree-simple
example/rtree-erase
example/rtree-medium
example/rtree-medium-bulkload
example/*.svg
rtree-test-*.svg
